.fl-page{
    overflow: visible !important;
}
#banner_section{
    min-height: 2000px;
    position: relative;
}
#banner_section::before{
    content: '';
    position: absolute;
    background: linear-gradient(0deg, #000 0%, rgba(0, 0, 0, 0.00) 81.25%);
    height: 96px;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 9;
}
#banner_section .container{
    position: sticky;
    top: 0;
}
.banner-wrapper{
    padding-top: 30px;
    min-height: calc(100vh - 140px);
}
.banner-wrapper__content{
    position: relative;
    z-index: 9;
}
.anim-span {
    position: relative;
    overflow: hidden;
    display: inline-flex;
    line-height: normal;
}
.anim-span span {
    display: inline-block;
}
.banner-heading{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.linear-heading{
    background: linear-gradient(109deg, #FFF 54.44%, #000 105.68%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.btn-group{
    display: flex;
    justify-content: center;
    gap: 14px;
    margin-top: 40px;
    margin-bottom: 110px;
}
.banner-wrapper__content p{
    text-align: center;
    color: #fff;
    margin-top: 20px;
    font-size: 16px;
}
.anim-blockchain{
    margin: -6px 0;
}
.banner-phone-anim{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%) scale(0.6);
    opacity: 0;
    transition: all 1s ease;
    width: 100%;
    height: 100%;
    max-width: 919px;
}
.banner-phone-anim.active{
    transform: translateX(-50%) scale(1);
    opacity: 1;
}
.btn-group,
.banner-wrapper__content p{
    transform: translateY(20px);
    opacity: 0;
    transition: all .5s ease;
}
.btn-group.active,
.banner-wrapper__content p.active{
    transform: translateY(0);
    opacity: 1;
}
.banner-phone-anim .phone-anim-single{
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%) scale(1.8);
    min-width: 200px;
    width: 200px;
}
/* vision */
#bitzino_section{
    background: #000000;
    position: relative;
    z-index: 9;
}
.bitzino-info-single{
    border-radius: 40px;
    background: linear-gradient(192deg, #1D1D1D 12.73%, #000 91.41%);
    padding: 95px 79px;
}
.bitzino-info-single h3{
    margin: 30px 0 35px;
}
.bitzino-info-single p{
    color: #fff;
    max-width: 330px;
}
/* core values */
#core_values{
    padding: 49px 0 38px;
    position: relative;
    border-bottom: 1px solid #3A3A3A;
}
.line-section::after{
    content: '';
    position: absolute;
    background: #3A3A3A;
    width: 0%;
    height: 1px;
    left: 0;
    top: 0;
    transition: all 1s ease;
}
.line-section::before{
    content: '';
    position: absolute;
    background: #3A3A3A;
    width: 0%;
    height: 1px;
    right: 0;
    top: 170px;
    transition: all 1s ease;
}
.line-section.active::before,
.line-section.active::after{
    width: 100%;
}
.core-values-heading{
    text-align: center;
}
.core-values-heading h2{
    opacity: 0;
    transform: translateY(30px);
    transition: all .5s ease;
    transition-delay: .5s;
}
.core-values-heading p{
    opacity: 0;
    margin-top: 15px;
    position: relative;
    transition: all .5s ease;
    transition-delay: .7s;
}
.line-section.active .core-values-heading p,
.line-section.active .core-values-heading h2{
    transform: translateY(0);
    opacity: 1;
}
.core-values-heading{
    position: relative;
}
.core-values-wrapper{
    margin-top: 90px;
}
.core-values-single{
    padding: 57px 40px;
    border-right: 1px solid #3A3A3A;
}
.core-values-single h4{
    margin: 50px 0 25px;
}
.core-values-single p{
    max-width: 222px;
}
.core-values-single-last{
    border: none !important;
}
.lottie-wrapper-all{
    width: 60px;
}
/* our vision */
#our_vision{
    position: relative;
    padding: 130px 0;
}
#canvas-wrapper canvas{
    height: 100%;
    position: absolute;
    width: 100%;
    object-fit: cover;
    opacity: .5;
    top: 0;
    left: 0;
}
#our_vision .container{
    position: relative;
    z-index: 9;
    pointer-events: none;
}
.vision-wrapper{
    max-width: 595px;
    margin: 0 auto;
    text-align: center;
}
.vision-wrapper h5{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1.6px;
}
.vision-wrapper h2{
    margin: 40px auto 35px;
    max-width: 500px;
}
.vision-wrapper p{
    color: #fff;
}
.vision-wrapper p:first-of-type{
    margin-bottom: 25px;
}
@media(max-width: 1500px){
    .banner-phone-anim .phone-anim-single{
        transform: translateX(-50%) scale(1.5);
    }
}
@media(max-height: 800px){
    .banner-wrapper{
        padding-bottom: 235px;
    }
}
@media(max-width: 1200px){
    .core-values-single{
        padding: 40px 25px;
    }
}
@media(max-width: 1024px){
    .banner-phone-anim .phone-anim-single{
        min-width: 170px;
        width: 170px;
    }
    .banner-phone-anim .phone-anim-single{
        transform: translateX(-50%) scale(2.4);
    }
    .bitzino-info-single{
        padding: 40px 30px;
        border-radius: 25px;
    }
}
@media(max-width: 767px){
    #our_vision{
        padding: 60px 0px 45px;
    }
    #our_vision .container{
        pointer-events: all;
    }
    .vision-wrapper h2{
        margin: 25px auto;
    }
    .banner-heading h1{
        font-size: 28px;
    }
    .btn-group{
        gap: 5px;
    }
    .banner-wrapper .btn-arrow img{
        margin-left: 10px;
    }
    .banner-wrapper .btn-arrow{
        padding: 5px 5px 5px 10px;
        font-size: 12px;
    }
    .btn-arrow img{
        margin-left: 8px;
    }
    .banner-phone-anim .phone-anim-single{
        min-width: 170px;
        width: 170px;
    }
    .banner-phone-anim .phone-anim-single{
        transform: translateX(-50%) scale(2.5);
    }
    .banner-wrapper__content p{
        margin-top: 20px;
    }
    .btn-group{
        margin-top: 20px;
    }
    .banner-phone-anim .phone-anim-single {
        min-width: 90px;
        width: 90px;
        bottom: 0;
    }
    .bitzino-info-single{
        padding: 30px 20px;
        border-radius: 20px;
        margin-bottom: 20px;
    }
    .bitzino-info-single h3{
        margin: 25px 0 20px;
    }
    #core_values{
        padding: 40px 0;
    }
    .core-values-single{
        border-bottom: 1px solid #3A3A3A;
        border-right: 0;
    }
    .core-values-single{
        padding: 30px;
    }
    .core-values-single p{
        margin-bottom: 0;
    }
    .core-values-single h4{
        margin: 25px 0 15px;
    }
    .core-values-wrapper{
        margin-top: 50px;
    }
}